/* Set droplist names - -item is the currently selected font, -label is the font's appearance in the droplist*/
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='']::before {
    content: 'Default';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='times-new-roman']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='times-new-roman']::before {
    content: 'Times New Roman';
    font-family: 'Times New Roman';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='arial']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='arial']::before {
    content: 'Arial';
    font-family: 'Arial';
}

/****************************************************
Set the font-family content used for the HTML content.
*****************************************************/
.ql-font-arial {
    font-family: 'Arial';
}

.ql-font-times-new-roman {
    font-family: 'Times New Roman';
}



/* this is needed to make the content scrollable on larger screens */
@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}

.gray {
    background-color: #F7F7F7;
}

.bg-img {
    background-image: url(/imgs/logo.png);
    background-repeat: repeat;
    background-size: 100% 100%;
}

.nav-pills .nav-link {
    color: #fff;
    font-size: 1.1rem;
}

.nav-pills .nav-link span {
    margin-right: 5px;
}

.list-group span {
    margin: 5px;
    display: inline;
}

.list-group .title {
    color: #555;
}

.list-group .data {
    color: #000;
}

.list-group img {
    width: 45px;
}

#add-emp-form .title,
#add-emp-form .data {
    display: inline-block;
}

#add-emp-form .title {
    width: 25%;
}

#add-emp-form .data {
    width: 74%;
}

@media (max-width: 720px) {
    #add-emp-form .submit-btn {
        width: 100%;
    }

    #add-emp-form .title,
    #add-emp-form .data {
        width: 48%;
    }

    .ms-auto {
        margin-right: 85% !important;
    }
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
    content: 'Normal';
    font-size: 14px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
    content: 'Large';
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
    content: 'Huge';
    font-size: 18px !important;
}