<div class="col-6 d-none all-forms" id="parten">
    <div class="row">
        <div class="col-12" style="margin-bottom: 10px;">
            <form action="/admin/add-parten" method="post" enctype="multipart/form-data">
                <h4>add new</h4>
                <div class="mb-3">
                    <label for="title" class="form-label">Name</label>
                    <input type="text" name="nameEn" class="form-control" placeholder="name">
                    <label for=" title" class="form-label">الاسم</label>
                    <input type="text" name="nameAr" class="form-control" placeholder="الاسم">
                </div>
                <div class="mb-3">
                    <label for="txt">caption</label>
                    <textarea name="captionEn" class="form-control" cols="30" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="txt">الوصف</label>
                    <textarea name="captionAr" class="form-control" cols="30" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <input type="file" name="img" class="form-control">
                </div>
                <button type="submit" class="btn btn-dark">submit</button>
            </form>
        </div>
        <hr>
        <div class="col-12" style="margin-top: 10px;">
            <h4>Edit</h4>
            <ul class="list-group">
                <% parten.forEach(s=>{%>
                    <li class="list-group-item"><img src="<%=s.img%>" alt="img" style="width: 80px;
                        height: 50px;"> <button type="button" class="btn btn-danger"
                            onclick="removeParten('<%=s._id%>')" style="float: right;">remove</button></li>
                    <%})%>
            </ul>
        </div>
    </div>
</div>
<script>
    const removeParten = (id) => {
        if (confirm('warn! you will dellete this?')) {
            fetch(`/admin/remove-parten/${id}`)
                .then(res => {
                    return location.reload()
                })
                .catch(err => {
                    alert(err)
                })
        }
    }
</script>