<div class="d-none row all-forms" id="password">
    <div class="col-6">
        <h3>password</h3>
        <form action="/admin/admin-pass" method="post">
            <div class="mb-3">
                <label for="pass" class="form-label">password</label>
                <input type="password" class="form-control" name="pass" required>
                <button type="submit" class="btn btn-dark">submit</button>
            </div>
        </form>
    </div>
</div>