<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<div class="col-12 d-none all-forms" id="slider">
    <div class="row">
        <div class="col-6" style="margin-bottom: 10px;">
            <form action="/admin/add-slide" class="p-5" method="post" enctype="multipart/form-data" id="sliderForm">
                <div class="mb-3">
                    <h3>slider content English</h3>
                </div>
                <div class="mb-3">
                    <div>
                        <textarea id="tinyEn"></textarea>
                    </div>
                </div>
                <input type="hidden" id="sliderEn" name="en">
                <input type="hidden" id="sliderAr" name="ar">
                <br>
                <hr>
                <hr>
                <br>
                <div class="mb-3">
                    <h3>محتوى الslider عربي</h3>
                </div>
                <div class="mb-3">
                    <div>
                        <textarea id="tinyAr"></textarea>
                    </div>
                </div>
                <hr>
                <div class="mb-3">
                    <h3>الصورة</h3>
                </div>
                <div class="mb-3">
                    <input type="file" class="form-control" name="img" id="sliderImg">
                </div>
                <button class="btn btn-dark" type="button" onclick="submitSlider()">حفظ</button>
            </form>
        </div>
        <div class="col-6">
            <button class="btn btn-dark" onclick="sliderPrev('ar')">معاينة العربي</button>
            <button class="btn btn-dark" onclick="sliderPrev('en')">معاينة English</button>

            <div id="sliderPrev" style="width: 100%;
            height: 500px;
            background-size: 100%;
            background-repeat: no-repeat;
            padding-top:100px;
            text-align: center;"></div>
        </div>
        <hr>
        <div class="col-12" style="margin-top: 10px;">
            <h4>edit slides</h4>
            <ul class="list-group">
                <% slides.forEach(s=>{%>
                    <li class="list-group-item"><img src="<%=s.img%>" alt="img" style="width: 80px;
                        height: 50px;"> <button type="button" class="btn btn-danger"
                            onclick="removeSlide('<%=s._id%>')" style="float: right;">remove</button></li>
                    <%})%>
            </ul>
        </div>
    </div>
</div>
<script>
    const removeSlide = (id) => {
        if (confirm('warn! you will dellete this slide?')) {
            fetch(`/admin/remove-slide/${id}`)
                .then(res => {
                    return location.reload()
                })
                .catch(err => {
                    alert(err)
                })
        }
    }
</script>